# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pycharm / VS Code
.idea/
.vscode/
*.code-workspace

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json

# pyre type checker
.pyre/

# pytype
.pytype/

# profiling
.prof

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
